body {
  background-image: url("../images/cafe.jpeg");
  background-size: cover;
  background-attachment: fixed;
}
.background-black {
  background-color: #000;
}

.dotted-border {
  font-size: 30px;
  border: 5px dotted red;
}

.menu-item-container {
  width: 90%;
  margin-top: 30px;
}

.menu-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.dots {
  flex: auto;
  border-bottom: 2px dotted white;
}
